<% title "Comments" %>

<div>
  <% for comment in @comments do %>
    <div class="comment">
      <%=simple_format comment.content %>
      <%= link_to t(:remove), request_comment_path(@commentable.id, comment.id), :method => :delete %>
    </div>
  <% end %>
</div>



