body {
  background-color: #DEDFE1;
    letter-spacing: 2px; 
    font-size: 10pt;
    font-family: lucida;
    color:#202A33;

}

div#cabezote{
    height:150px;
    width:90%;
    text-align:center;
    margin-bottom:10px;
    margin-left:5%;
}

div#cabezote img{
    width:100%;
    height:150px;
    border:1px solid black;
}
h1{
    font-family: lucida;
    text-align: center;
    
  }

h2{
    text-align:center;
}


a img {
    border: none;
}

a {
    color: #000;
    text-decoration: underline;
}

table{
    
    text-align: center;
}


.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 5px 8px;
  margin: 10px 0;
  text-align:center;
}

#flash_notice {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #E5E5E5;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #FCC;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 350px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

/* TABLES */
th {
    border: 1px dashed #747474;
    letter-spacing: 2px;
    text-align: center;
    padding: 6px 6px 6px 12px;
    font-family: lucida;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #FEFEF2;
}

td {
	border: 1px dashed #747474;
	background: #fff;
	padding: 6px 6px 6px 12px;
}


td.alt {
	background: #F5FAFA;
	color: #B4AA9D;
}

/* NAVIGATION */
div.user-nav {
	text-align: center;
	height:60px;
	margin-top:5px;
	margin-left:10%;
}

div.user-nav a {
    text-decoration:none;
}

div.user-nav div#login-link{
   margin-left:40%;
}

div.user-nav div{
    float:left;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    background-color:#93988F;
    width:150px;
    height:25px;
    margin:2px;
    padding:5px;
}

div#inter{
    margin-left:25%;
}


/* RFP SHOW */

div.complete-info{
    margin-top:10px;
    border-top: 1px solid black;
}
div#general-info {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 40%;
	height:460px;
	margin-top:20px;
	margin-bottom:20px;
	background-color: #93988F;
	border: 1px solid black;

}

div#general-info div {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #FFF;
    padding: 10px;
    margin: 10px;
}

div#rfp-status {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top:20px;
    width: 50%;
    height:440px;
    float:right;
    background-color: #93988F;
    padding:10px;
    text-align:center;
    border:1px solid black;
    
}

div#rfp-status form{
   border: none;
   background-color:##93988F;
   width:100%;
   height:300px;
}

div#rfp-status form ol{
    text-align:center;
    background-color: #93988F;
}

div#rfp-status em {
    font-size:20px;
}
div#accept, div#reject {
        margin-bottom: 1px solid black;
	width: 80%;
	text-align:center;
}


div.user-accept, div.user-reject {
	-moz-border-radius: 6px;	
	-webkit-border-radius: 6px;
	border: 1px solid black;
	padding: 6px;
	margin: 2px;
	margin-left:10px;
	width:100%;
}

div.user-reject{
    background-color: #FBB1BA;
    
}

div.user-accept{
    background-color: #85FFAB;
}
div#sections li a {
	margin-left: 2px;
	font-size: 8px;
}

div#user-content{
    -moz-border-radius: 6px;	
    -webkit-border-radius: 6px;
    border: 1px solid black;
    padding:30px;

}
div#user-info{
	margin-bottom:10px;
	border-bottom: 1px solid black;
	padding: 10px;
}

div#user-section-roles{

	padding: 10px;	
}
div#decision {
	clear: both;
	margin:10px;

}

div#decision form{
    margin: 10px;
}

div.options{
    -moz-border-radius: 6px;	
    -webkit-border-radius: 6px;
    text-align:center;
    margin-left:35%;
    width:300px;
    margin-bottom: 10px;
    padding:10px;
    border:1px solid black;
    background-color: #93988F;
}

span.option{
  float:right;
  margin-right:12%;
  margin-top:-34px;
}
span.option2{
  float:right;
  margin-right:33%;
  margin-top:-40px;
  font-size:14px;
}

span#user{
    margin-right:28%;
}

div.options:hover{
    border: 2px solid black;
}
div.qualifications{
    background-color: #fff;
    border-top: 1px solid #000;
}

div.qualifications table{
    border-top:10px;
    padding:10px;
    width:100%;
}

div.qualifications table td {
    text-align:center;
    border:none;
    width:50%;
}

div.qualifications table th {
    border:none;
    font-size:16pt;
}

div.comments{
    border-top: 1px solid #000;
    
}

div.comments h3 {
    text-align:center;
}
div.comments form{
    border:none;
    margin-left:15%;
    width:100%;
}
div.comment{
    -moz-border-radius: 6px;	
    -webkit-border-radius: 6px;
    margin-top: 10px;
    padding:10px;
    border: 1px solid black;
    background-color: #D4D4D4
}

div#new_section{
    display:none;
    -moz-border-radius: 6px;	
    -webkit-border-radius: 6px;
    border: 1px solid black;
    padding:30px;
    background-color:#93988F;
    
}

div#new_section div{ 
    border:5px;
    blackground-color:#93988F;
}

form#new_request_section{
    border:none;
}

div.form-style{
    padding-left:30%;
    margin:10px;
    
}

div.form-style form{
   padding:10px;
   width:80%;
}


/* STATISTICS STYLES */
div.container table {
    width: 100%;
}

div.container table td#out-table {
    border:none;
}
#statistics-table {
  background-attachment:scroll;
  background-clip:initial;
  background-color:initial;
  background-image:none;
  background-origin:initial;
  background-position:initial initial;
  background-repeat:repeat repeat;
  height:250px;
  overflow-x:auto;
  overflow-y:auto;
  width:100%;
    
}
#statistics-table{
    width:100%;
}



td.graph{
    border:none;
}