body {
  background-color: #5A94B8;
  letter-spacing: 2px; 
  font-size: 12px;
  font-family: sans-serif;
  color:#202A33;
  
}

#logo img{
    width:90%;
    margin-left:5%;
}
h1{
  font-family: lucida;
  text-align: center;

}
h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

a img {
  border: none;
}

a {
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
}

a:hover {
    text-decoration:underline;
    font-style: italic;
}

table{
    
    text-align: center;
}

form{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-left:30%;
    width:400px;
    border: 1px solid #000;
    padding:10px;
   

}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px #000;
  margin-top: 20px;
  height: auto;
}

#flash_notice, #flash_error, #flash_alert {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

/* TABLES */
th {
    color: #000;
    border: 1px dashed #747474;
    letter-spacing: 2px;
    text-align: center;
    padding: 6px 6px 6px 12px;
    background: #E3FEFE;
    font-family: lucida;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #FEFEF2;
	background: none;
}

td {
	border: 1px dashed #747474;
	background: #fff;
	padding: 6px 6px 6px 12px;
}


td.alt {
	background: #F5FAFA;
	color: #B4AA9D;
}

/* NAVIGATION */
div#user-nav {
	float: right;
}

/* RFP SHOW */

div.general-info {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
	width: 30%;
	margin: 8px;
	background-color: #E8D99E;
}

div.general-info div {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #FFF;
	padding: 10px;
	margin: 3px;
}

div#rfp-status {
	float: right;
	width: 60%;
}

div.role-score {
	float: right;
}

div.role-score {
	border-style: solid;
	font-size: 20px;
}

div#accept, div#reject {
	float: left;
	margin: 3px;
	padding: 1px;
	width: 45%;
}

div.user-accept, div.user-reject {
	-moz-border-radius: 6px;	
	-webkit-border-radius: 6px;
	padding: 6px;
	margin: 2px;
}

div.user-accept {
	background-color: #55D8BB;
}

div.user-reject {
	background-color: #E33F53;
}

div#sections li a {
	margin-left: 2px;
	font-size: 8px;
}

div#user-info{
	margin-right: 30%;
	float: left;
}

div#decision {
	clear: both;
	margin:10px;

}

div#decision form{
    margin: 10px;
}

div.options{
    -moz-border-radius: 6px;	
    -webkit-border-radius: 6px;
    text-align:center;
    margin-left:35%;
    width:300px;
    padding:10px;
    background-color: #E8D99E;

}