body {
  background-color: #5A94B8;
  letter-spacing: 2px; 
  font-size: 10pt;
  font-family: lucida;
  color:#202A33;
  
}

#logo img{
    width:90%;
    margin-left:5%;
}
h1{
  font-family: lucida;
  text-align: center;

}

h2{
  text-align:center;
}


a img {
  border: none;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
    font-weight: bold;
}

table{
    
    text-align: center;
}

form{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-left:30%;
    width:400px;
    border: 1px solid #000;
    padding:10px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px #000;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 5px 8px;
  margin: 10px 0;
  text-align:center;
}

#flash_notice {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

/* TABLES */
th {
    border: 1px dashed #747474;
    letter-spacing: 2px;
    text-align: center;
    padding: 6px 6px 6px 12px;
    font-family: lucida;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #FEFEF2;
}

td {
	border: 1px dashed #747474;
	background: #fff;
	padding: 6px 6px 6px 12px;
}


td.alt {
	background: #F5FAFA;
	color: #B4AA9D;
}

/* NAVIGATION */
div#user-nav {
	float: right;
}

/* RFP SHOW */

div.complete-info{
    margin-top:10px;
    border-top: 1px solid black;
}
div.general-info {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 40%;
	margin-top:20px;
	margin-bottom:20px;
	background-color: #FFC82E;
	border: 1px solid black;

}

div.general-info div {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #FFF;
	padding: 10px;
	margin: 10px;
}

div#rfp-status {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top:20px;
    width: 50%;
    float:right;
    background-color: #FFC82E;
    padding:10px;
    text-align:center;
    border:1px solid black;
    
}

div#rfp-status form{
   border: none;
   background-color:#FFC82E;
}

div#rfp-status form ol{
    text-align:center;
    background-color: #FFC82E;
}

div#rfp-status em {
    font-size:20px;
}
div#accept, div#reject {
        margin-bottom: 1px solid black;
	width: 80%;
	text-align:center;
}


div.user-accept, div.user-reject {
	-moz-border-radius: 6px;	
	-webkit-border-radius: 6px;
	border: 1px solid black;
	padding: 6px;
	margin: 2px;
	margin-left:10px;
	width:100%;
}

div.user-reject{
    background-color: #FBB1BA;
    
}

div.user-accept{
    background-color: #85FFAB;
}
div#sections li a {
	margin-left: 2px;
	font-size: 8px;
}

div#user-content{
    -moz-border-radius: 6px;	
    -webkit-border-radius: 6px;
    border: 1px solid black;
    padding:30px;

}
div#user-info{
	margin-bottom:10px;
	border-bottom: 1px solid black;
	padding: 10px;
}

div#user-section-roles{

	padding: 10px;	
}
div#decision {
	clear: both;
	margin:10px;

}

div#decision form{
    margin: 10px;
}

div.options{
    -moz-border-radius: 6px;	
    -webkit-border-radius: 6px;
    text-align:center;
    margin-left:35%;
    width:300px;
    margin-bottom: 10px;
    padding:10px;
    border:1px solid black;
}

span.option{
   float:right;
  margin-right:12%;
  margin-top:-34px;
}

div.options:hover{
    border: 2px solid black;
}
div.qualifications{
    background-color: #fff;
    border-top: 1px solid #000;
}

div.qualifications table{
    border-top:10px;
    padding:10px;
    width:100%;
}

div.qualifications table td {
    text-align:center;
    border:none;
    width:50%;
}

div.qualifications table th {
    border:none;
    font-size:16pt;
}

div#new_section{
    display:none;
}

form#new_request_section{
    border:none;
}

#hide-existing-section{
    display:none;
}