<% title t(:sectors) %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for sector in @sectors %>
    <tr>
      <td><%= sector.name %></td>
      <td><%= link_to "Show", sector %></td>
      <td><%= link_to "Edit", edit_sector_path(sector) %></td>
      <td><%= link_to "Destroy", sector, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>


